.ButtonWithIcon {
    border: none;
    background: none;
    cursor:pointer;
    outline:none;
}

.ButtonWithIcon:hover {
    background: rgba(0, 0, 0, 0.2);
}

.ButtonWithIcon img {
    display: inline-block;
    width: 1em;
    height: 1em;
}