main{
    font-size: 36px;
    margin: 2rem;

}

section{
    margin: 4px;
    padding: 1rem;
    width: 240px;
    background-color: steelblue;
}

div{
    width: 240px;
    height: 120px;
    line-height: 120px;
    text-align: center;
}

#North>*{
    background-color: salmon;
}

#South>*{
    background-color: lightseagreen;
}

#West{
    background-color: lightskyblue;
}

#East{
    background-color: yellow;
}