
div.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 675px;
    height: 295px;
}

div.item{
    width: 200px;
    height: 200px;
}

div.green{
    flex-basis: 25%;
    background-color: green;
}

div.yellow{
    flex-basis: 50%;
    background-color: yellow;
}

div.purple{
    flex-basis: 25%;
    background-color: purple;
}